body {
    font-family: 'Rubik', sans-serif;
  
    }
h1 {
    text-align: center;
    margin-top: 100px;
}
  
  .bg-gradient-2 {
    background: rgb(0,1,27);
    background: linear-gradient(90deg, rgba(0,1,27,1) 0%, rgba(13,14,52,1) 38%, rgba(10,11,55,1) 73%, rgba(6,2,41,1) 100%);
  }
  
  .nav-lista .nav-lista-item:hover{
    transition: 0.3s;
    opacity: 0.4;
    }
  
  .boton-suscribirse {
    color: white;
  }
  .boton-suscribirse:hover {
    color: white;
  }
  
  .boton-suscribirse:focus {
    color: white;
  }
  
  
  
  footer {
    color: white;
    padding-top: 1rem;
  }
  
  .redes a {
    text-decoration: none;
    color: white;
    margin-left: 9px;
    margin-right: 9px;
    font-size: 35px;
  }
  
  .redes a:hover {
    opacity: 0.5;
    transition: 0.5s;
  }
