body {
    padding: 0;
    margin: 0;
    background-size: cover;
    font-family: sans-serif;
    background-position: center;
  }

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    color:white;
    background: rgba(255, 255, 255, .3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
  
  }
  



 